// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title-logo {
    margin-left: 20px;
}

.send {
  padding-top: 40px; 
}

.send-btn {
  height: 40px;
  width: 65px;
}

.pagenation {
  width: 100%;
}